# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/
ENV/

# Distribution / packaging
.Python
dist/
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Ignore logs
*.log

# OCI, Wallet, DB config, 기타 제외 파일/폴더
oci-api-key/
wallet/
db_config.json
config

# API 관련 파일
api_config.json
gemini.py
upstage.py

# IDE 관련
.idea/
*.swp
*.swo

# Streamlit 앱 파일 제외 (st_로 시작하는 파일만 포함)
!st_*.py
