# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
venv/

# Distribution / packaging
.Python
dist/
build/
*.egg-info/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Ignore logs
*.log

# OCI, Wallet, DB config, 기타 제외 파일/폴더
oci-api-key/
wallet/
db_config.json
config
